<div class="side-wrapper">
  <div class="side-top">
    <div class="username">
      <%= link_to current_user.name, edit_user_path(current_user), class: "name-link" %>
    </div>
    <div class="make-chat">
      <%= link_to 'チャットを作成する', new_room_path, class: "make-chat-btn" %>
    </div>
  </div>
  <div class="side-bottom">
    <% current_user.rooms.each do |room| %>
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room), class: "room-link" %>
      </div>
    <% end %>
  </div>
</div>