<div class="side-wrapper">
  <div class="side-top">
    <div class="username">
      <%= link_to 'Tom', '#', class: "name-link" %>
    </div>
    <div class="make-chat">
      <%= link_to 'チャットを作成する', new_message_path, class: "make-chat-btn" %>
    </div>
  </div>
  <div class="side-bottom">
    <div class="room-name">
      <%= link_to 'room1', '#', class: "room-link" %>
    </div>
    <div class="room-name">
      <%= link_to 'room2', '#', class: "room-link" %>
    </div>
  </div>
</div>